absl-py==0.15.0
access-parser==0.0.5
aiodns==3.1.0
aiofiles==0.8.0
aiohttp==3.8.6
aioredis==2.0.1
aiosignal==1.2.0
airtable==0.4.8
anyascii==0.3.1
appdirs==1.4.4
asgiref==3.4.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==19.1.0
audioread==3.0.0
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel==2.11.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.1
boto3==1.21.32
botocore==1.24.46
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
colorama==0.4.4
construct==2.10.68
contextvars==2.4
coqpit==0.0.16
cssselect==1.1.0
cycler==0.11.0
Cython==0.29.33
dataclasses==0.8
dateparser==1.1.3
decorator==4.4.2
dlib==19.24.1
docopt==0.6.2
dynamodump==1.6.0
elastic-transport==8.4.0
elasticsearch==8.7.0
face-alignment==1.3.5
fake-useragent==1.3.0
Flask==2.0.3
flatbuffers==1.12
frozenlist==1.2.0
fsspec==2022.1.0
gast==0.4.0
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
grpcio==1.48.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-cs==2.0.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gruut-lang-it==2.0.0
gruut-lang-nl==2.0.2
gruut-lang-pt==2.0.0
gruut-lang-ru==2.0.0
gruut-lang-sv==2.0.0
gTTS==2.2.4
h11==0.8.1
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
httpcore==0.10.2
httplib2==0.21.0
httptools==0.6.0
httpx==0.14.0
hyperframe==5.2.0
idna==2.8
idna-ssl==1.1.0
imageio==2.15.0
imageio-ffmpeg==0.4.8
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
inflect==5.3.0
isodate==0.6.1
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.1
jsonlines==1.2.0
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1679712543761/work/keras-2.12.0-py2.py3-none-any.whl
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
librosa==0.7.0
llvmlite==0.31.0
lxml==4.9.2
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
maxminddb==2.2.0
mdb-parser==0.0.3
mecab-python3==1.0.3
mediapipe==0.8.2
mtcnn==0.1.0
multidict==4.7.6
networkx==2.5.1
nltk==3.6.7
num2words==0.5.12
numba==0.48.0
numpy==1.19.3
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.8.0
opencv-contrib-python==4.7.0.72
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
parse==1.19.1
peewee==3.2.2
Pillow==8.4.0
platformdirs==2.4.0
playsound==1.3.0
pooch==1.6.0
progress==1.6
progress-bar==8
progressbar==2.5
protobuf==3.19.6
proxybroker==0.3.2
psutil==5.9.4
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycares==4.3.0
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycparser==2.21
pycurl==7.43.0.1
pydub==0.25.1
pyee==10.0.2
pymongo==4.1.1
pynndescent==0.5.8
pyobjc==8.5.1
pyobjc-core==8.5.1
pyobjc-framework-Accessibility==8.5.1
pyobjc-framework-Accounts==8.5.1
pyobjc-framework-AddressBook==8.5.1
pyobjc-framework-AdServices==8.5.1
pyobjc-framework-AdSupport==8.5.1
pyobjc-framework-AppleScriptKit==8.5.1
pyobjc-framework-AppleScriptObjC==8.5.1
pyobjc-framework-ApplicationServices==8.5.1
pyobjc-framework-AppTrackingTransparency==8.5.1
pyobjc-framework-AudioVideoBridging==8.5.1
pyobjc-framework-AuthenticationServices==8.5.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.5.1
pyobjc-framework-Automator==8.5.1
pyobjc-framework-AVFoundation==8.5.1
pyobjc-framework-AVKit==8.5.1
pyobjc-framework-BusinessChat==8.5.1
pyobjc-framework-CalendarStore==8.5.1
pyobjc-framework-CallKit==8.5.1
pyobjc-framework-CFNetwork==8.5.1
pyobjc-framework-ClassKit==8.5.1
pyobjc-framework-CloudKit==8.5.1
pyobjc-framework-Cocoa==8.5.1
pyobjc-framework-Collaboration==8.5.1
pyobjc-framework-ColorSync==8.5.1
pyobjc-framework-Contacts==8.5.1
pyobjc-framework-ContactsUI==8.5.1
pyobjc-framework-CoreAudio==8.5.1
pyobjc-framework-CoreAudioKit==8.5.1
pyobjc-framework-CoreBluetooth==8.5.1
pyobjc-framework-CoreData==8.5.1
pyobjc-framework-CoreHaptics==8.5.1
pyobjc-framework-CoreLocation==8.5.1
pyobjc-framework-CoreMedia==8.5.1
pyobjc-framework-CoreMediaIO==8.5.1
pyobjc-framework-CoreMIDI==8.5.1
pyobjc-framework-CoreML==8.5.1
pyobjc-framework-CoreMotion==8.5.1
pyobjc-framework-CoreServices==8.5.1
pyobjc-framework-CoreSpotlight==8.5.1
pyobjc-framework-CoreText==8.5.1
pyobjc-framework-CoreWLAN==8.5.1
pyobjc-framework-CryptoTokenKit==8.5.1
pyobjc-framework-DataDetection==8.5.1
pyobjc-framework-DeviceCheck==8.5.1
pyobjc-framework-DictionaryServices==8.5.1
pyobjc-framework-DiscRecording==8.5.1
pyobjc-framework-DiscRecordingUI==8.5.1
pyobjc-framework-DiskArbitration==8.5.1
pyobjc-framework-DVDPlayback==8.5.1
pyobjc-framework-EventKit==8.5.1
pyobjc-framework-ExceptionHandling==8.5.1
pyobjc-framework-ExecutionPolicy==8.5.1
pyobjc-framework-ExternalAccessory==8.5.1
pyobjc-framework-FileProvider==8.5.1
pyobjc-framework-FileProviderUI==8.5.1
pyobjc-framework-FinderSync==8.5.1
pyobjc-framework-FSEvents==8.5.1
pyobjc-framework-GameCenter==8.5.1
pyobjc-framework-GameController==8.5.1
pyobjc-framework-GameKit==8.5.1
pyobjc-framework-GameplayKit==8.5.1
pyobjc-framework-ImageCaptureCore==8.5.1
pyobjc-framework-IMServicePlugIn==8.5.1
pyobjc-framework-InputMethodKit==8.5.1
pyobjc-framework-InstallerPlugins==8.5.1
pyobjc-framework-InstantMessage==8.5.1
pyobjc-framework-Intents==8.5.1
pyobjc-framework-IntentsUI==8.5.1
pyobjc-framework-IOSurface==8.5.1
pyobjc-framework-iTunesLibrary==8.5.1
pyobjc-framework-KernelManagement==8.5.1
pyobjc-framework-LatentSemanticMapping==8.5.1
pyobjc-framework-LaunchServices==8.5.1
pyobjc-framework-libdispatch==8.5.1
pyobjc-framework-LinkPresentation==8.5.1
pyobjc-framework-LocalAuthentication==8.5.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.5.1
pyobjc-framework-MailKit==8.5.1
pyobjc-framework-MapKit==8.5.1
pyobjc-framework-MediaAccessibility==8.5.1
pyobjc-framework-MediaLibrary==8.5.1
pyobjc-framework-MediaPlayer==8.5.1
pyobjc-framework-MediaToolbox==8.5.1
pyobjc-framework-Metal==8.5.1
pyobjc-framework-MetalKit==8.5.1
pyobjc-framework-MetalPerformanceShaders==8.5.1
pyobjc-framework-MetalPerformanceShadersGraph==8.5.1
pyobjc-framework-MetricKit==8.5.1
pyobjc-framework-MLCompute==8.5.1
pyobjc-framework-ModelIO==8.5.1
pyobjc-framework-MultipeerConnectivity==8.5.1
pyobjc-framework-NaturalLanguage==8.5.1
pyobjc-framework-NetFS==8.5.1
pyobjc-framework-Network==8.5.1
pyobjc-framework-NetworkExtension==8.5.1
pyobjc-framework-NotificationCenter==8.5.1
pyobjc-framework-OpenDirectory==8.5.1
pyobjc-framework-OSAKit==8.5.1
pyobjc-framework-OSLog==8.5.1
pyobjc-framework-PassKit==8.5.1
pyobjc-framework-PencilKit==8.5.1
pyobjc-framework-Photos==8.5.1
pyobjc-framework-PhotosUI==8.5.1
pyobjc-framework-PreferencePanes==8.5.1
pyobjc-framework-PushKit==8.5.1
pyobjc-framework-Quartz==8.5.1
pyobjc-framework-QuickLookThumbnailing==8.5.1
pyobjc-framework-ReplayKit==8.5.1
pyobjc-framework-SafariServices==8.5.1
pyobjc-framework-SceneKit==8.5.1
pyobjc-framework-ScreenCaptureKit==8.5.1
pyobjc-framework-ScreenSaver==8.5.1
pyobjc-framework-ScreenTime==8.5.1
pyobjc-framework-ScriptingBridge==8.5.1
pyobjc-framework-SearchKit==8.5.1
pyobjc-framework-Security==8.5.1
pyobjc-framework-SecurityFoundation==8.5.1
pyobjc-framework-SecurityInterface==8.5.1
pyobjc-framework-ServiceManagement==8.5.1
pyobjc-framework-ShazamKit==8.5.1
pyobjc-framework-Social==8.5.1
pyobjc-framework-SoundAnalysis==8.5.1
pyobjc-framework-Speech==8.5.1
pyobjc-framework-SpriteKit==8.5.1
pyobjc-framework-StoreKit==8.5.1
pyobjc-framework-SyncServices==8.5.1
pyobjc-framework-SystemConfiguration==8.5.1
pyobjc-framework-SystemExtensions==8.5.1
pyobjc-framework-UniformTypeIdentifiers==8.5.1
pyobjc-framework-UserNotifications==8.5.1
pyobjc-framework-UserNotificationsUI==8.5.1
pyobjc-framework-VideoSubscriberAccount==8.5.1
pyobjc-framework-VideoToolbox==8.5.1
pyobjc-framework-Virtualization==8.5.1
pyobjc-framework-Vision==8.5.1
pyobjc-framework-WebKit==8.5.1
pyodbc==4.0.39
pyparsing==3.0.9
pypinyin==0.48.0
pyppeteer==0.0.25
pyquery==1.4.3
pysbd==0.3.4
pyserial==3.5
PySocks==1.7.1
python-crfsuite==0.9.9
python-dateutil==2.8.2
pythonping==1.1.4
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pyworld==0.3.2
PyYAML==6.0
redis==4.3.6
regex==2022.3.2
requests==2.27.1
requests-async==0.5.0
requests-file==1.5.1
requests-html==0.9.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
resampy==0.3.1
rfc3986==1.5.0
rsa==4.9
s3transfer==0.5.2
sanic==19.6.3
Sanic-Cors==0.9.9
Sanic-Plugins-Framework==0.9.5
schedule==0.5.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
scrapingant-client==1.0.1
scylla==1.1.7
six==1.11.0
sniffio==1.2.0
soundfile==0.12.1
soupsieve==2.3.2.post1
SpeechRecognition==3.9.0
stem==1.8.2
stripe==5.1.0
tabulate==0.9.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2020.9.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.10.2
torchaudio==0.10.2
torchvision==0.3.0
tornado==5.0.2
torrequest==0.1.0
tqdm==4.45.0
trainer==0.0.24
TTS==0.6.2
tweepy==4.6.0
types-dataclasses==0.6.6
typing-extensions==3.7.4.3
tzdata==2022.7
tzlocal==4.2
ujson==4.3.0
umap-learn==0.5.1
unidic-lite==1.0.8
uritemplate==4.1.1
urllib3==1.26.9
user-agent==0.1.10
uvloop==0.14.0
validators==0.20.0
w3lib==2.0.1
websockets==7.0
Werkzeug==2.0.3
wrapt==1.12.1
yarl==1.7.2
zeep==4.1.0
zipp==3.6.0
